.dart_tool/
pubspec.lock
build/
dist/
.idea/
*.iml
dn_plugins.lock
example/.dart_tool/
example/build/
example/pubspec.lock
example/pubspec_overrides.yaml
example/*.iml
example/ios/Pods/
example/ios/.symlinks/
example/ios/Flutter/ephemeral/
example/android/.gradle/
example/android/build/
example/android/local.properties
